
<style>
    /* master nav css, change flex options here */
    .site-header .nav-list {
        background: #000;
        box-shadow: 0px 0px 10px #717070;
        margin: 0;
        padding: 0.5rem 0;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    /* main nav items */
    .site-header .nav-item a,
    .site-header .dropbtn{
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, Arial, sans-serif;
        font-size: medium;
    }
    .site-header .nav-item{
        list-style: none; /* removing bullet point styling */
        margin-right: 3.5rem;
    }
    .site-header .nav-item a{
        text-decoration: none; /* removing underline styling for links */
    }
    .site-header .dropbtn{ /* changing project dropdown button to look like other parts of nav */
        background: none;
        border: none;
    }
    /* Hovering over nav=> changes color */
    .site-header .nav-item a:hover, 
    .site-header .dropbtn:hover{
        color: red;
        transition:all 200ms ease-in;
    }
    /* locate logo to right side and resize */
    .site-header .nav-item:first-child{
        /* margin-right: auto; */
        margin-left:1rem;
    }
    /* sizing the logo */
    .site-header .logo{ 
        height: 50px;
        width:auto;
    }
    /* style dropdown */
    .site-header .dropdown-content li a{  /* links inside dropdown */
        color: #fff;
        background: #000;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, Arial, sans-serif;
        font-size: medium;
        display: block;
        padding: 0.5rem 1rem;
    }
    .site-header .dropdown-content{
        padding:0.25rem 0rem; 
        position: absolute; /* ensures drop down drops down */
        z-index: 1;
        list-style: none;
    } 
</style>

<nav class="site-header" aria-label="Primary">
    <ul class="nav-list">
        <li class="nav-item"><a href="/index.html"><img class="logo" src="/assets/jmac_logo_website.png" alt="JMAC logo"> </a></li>
        <li class="nav-item"><a href="/index.html">Home</a></li>
        <li class="nav-item"><a href="/getinvolved.html">Get Involved</a></li>
        <li class="nav-item"><a href="/resources">Resources</a></li>
        <!-- <li class="nav-item dropdown">
            <button class="dropbtn"
                aria-expanded="false"
                aria-controls="projects-submenu"
                aria-haspopup="true"
                >Projects</button>
            <ul class="dropdown-content"
                 id="projects-submenu" 
                 aria-labelledby="projects-toggle"
                 hidden>
                <li><a href="/hygiene-kits.html">Hygiene Kits</a></li>
                 more projcts added here 
            </ul> -->
        </li>
    </ul>
</nav>
